body {
    background-color: black;
    color: white;
    font-family: arial, sans-serif;
    font-size: 14px;
}

a {
	color:#ddd;
}

.container {
	width:100%;
}

#canvas {
    background-color: transparent;
    width:800px;
    height:auto;
    margin: 18px auto;
}

.clock-face {
	fill: white;
	stroke: none;
}

.end-seconds {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.rotate-me {
    transition: -webkit-transform 60s ease-out;
    transition: transform 60s ease-out;
}
.end-rotate {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.removing-minutes { }

.minutes {
    fill: orange;
    opacity:0.7;
    stroke: none;
}

.seconds {
    fill: black;
    opacity:0.7;
    stroke: none;
}

.blobs {
	fill: #fff;
	/*
	opacity: 0.7;
	stroke-dasharray: 3, 2;
    stroke: #bbb;
    stroke-width: 1;
    */
}

.hours {
    fill: lightblue;
    stroke: black;
}